h1{
font-size: 70px;
text-align: center;
color: #fefefe
}

h2{
font-size: 28px;
text-align: left;
font-family: Helvetica, sans-serif;
color: #fefefe
}

p{
font-size: 22px;
text-align: left;
font-family: Helvetica, sans-serif;
color: #fefefe
}

a{
font-size: 15px;
text-align: left;
font-family: Helvetica, sans-serif;
color: #fefefe
}

body {
background-color: #020202c4 ;
}